*.csv
*.dcm
# *.edge
*.iml
*.json
*.log
*.mat
*.npy
*.pdf
*.pkl
*.png
*.pt
*.pyc
*.sh
*.svg
*.xml
configs/*.yaml
*.zip

.idea/
.vscode/
data/
pydale/
output/
__pycache__
**/lightning_logs/
**.ipynb_checkpoints/
nilearn_cache/
.pytest_cache
analysis/**/*.pdf
analysis/**/*.svg
analysis/**/*.csv
analysis/**/*.npz
analysis/**/*.mat
semistats/estimator/_code.py
configs/cr8*.py
