*.csv
*.dcm
# *.edge
*.iml
*.json
*.log
# *.mat
*.npy
*.pdf
*.pkl
# *.png
*.pt
*.pyc
*.sh
# *.svg
*.xml
# configs/*.yaml
*.zip

.idea/
.vscode/
data/
pydale/
output/
__pycache__
**/lightning_logs/
**.ipynb_checkpoints/
nilearn_cache/
.pytest_cache
model_analysis/figures
model_analysis/first-order
model_analysis/second-order
semistats/estimator/_code.py
